<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <!--//判断当前浏览器的版本是否小于IE 9-->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <!--[endif]-->
    <script type="text/javascript">
        function submitData(){
            var datas = "username="+doucment.getElementById("username").value+"&password="+doucment.getElementById("password").value;
            alert(datas);
            $.ajax({
                type: "get",
                url: "/login",
                data: data,
                dataType: "json",
                success: function(result){
                    if(result.code == 0){//登录成功
                        parent.location.href ='index.html';
                    }else{
                        vm.error = true;
                        vm.errorMsg = result.msg;

                        vm.refreshCode();
                    }
                }
            });
        }

    </script>
</head>
<body>
<form id="formSubmit">
    用户名：<input name="username" id= "username" type="text" value="zhang">
    密码：<input name="password" id="password" type="password" value="123">
    <button type="button" value="提交" name="submit" click="submitData()"/>
</form>
</body>
</html>